rules_version='2'

service cloud.firestore {
  
    function isWaltonRoboticsUser() {
      return request.auth != null &&
             request.auth.token.email_verified &&
             request.auth.token.email.matches('[^@]+@waltonrobotics\\.org$');
    }

 // By nesting the rules, we can ensure that only Walton Robotics users can access  data.
  match /databases/{database}/documents {
    // Allow Walton Robotics users to read the competition schedule.
    match /competitions/{competition}/schedule/{scheduleDoc} {
      allow read: if isWaltonRoboticsUser();
    }
   
   //this rule ensures that each document can only be written by authorized user
    match /competitions/{competition}/matches/{matchId}/scouting/{docId} {
      // Allow reading of scouting data.
      allow read: if isWaltonRoboticsUser();
      allow write: if isWaltonRoboticsUser() && docId.matches('^' + request.auth.uid + '_[0-9]+$');
    }
  }
}
