rules_version='2'

service cloud.firestore {
  function isWaltonRoboticsUser() {
    return request.auth != null &&
           request.auth.token.email_verified &&
           request.auth.token.email.matches('[^@]+@waltonrobotics\\.org$');
  }

  match /databases/{database}/documents {
    // Allow all authenticated Walton Robotics users to read any document.
    match /{document=**} {
      allow read: if isWaltonRoboticsUser();
    }
   
    // Rules for writing scouting data.
    match /competitions/{competition}/matches/{matchId}/scouting/{docId} {
      allow create: if isWaltonRoboticsUser();

      // Allow UPDATE if the user is the owner of the existing document.
      // This also prevents a user from changing the ownership, match, or team.
      allow update: if isWaltonRoboticsUser();
    }
  }
}
