rules_version = '2';

service firebase.storage {
  function isWaltonRobotics() {
    return request.auth != null &&
           request.auth.token.email_verified &&
           request.auth.token.email.matches('[^@]+@waltonrobotics\\.org$');
  }

  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Only allow users from Walton Robotics to read and write.
      allow read, write: if isWaltonRobotics();
    }
  }
}